.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}



*
{
    box-sizing:border-box;
}

[class*="col-"]
{
    float: left;
    padding: 15px;
    border:  3px solid rgb(79, 179, 87);
    
}

.row:after{
    content:"";
    clear: both;
    display: table;
}

.row{
    margin:  0px 20%;
}

#dev{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    display: flex;
    justify-content: center;
    padding: 1%;
    flex-direction: row;
}

ul{
    list-style-type: none;
}
h1,h2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Bebas Neue', cursive;
    color: rgb(79, 179, 87);
}
h1{
    font-size: 65px;
}

img{
    display: flex;
    justify-content: center;
    flex-direction: row;
}



@media only screen and (max-width:600px)
{

    [class*="col-"]
    {

        width: 100%;
    }
}